<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mahima.demo1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--activity android:name=".MainActivity"
            android:screenOrientation="fullSensor"
            />-->
        <activity android:name=".PracC" />
        <activity android:name=".PracCpp" />
        <activity android:name=".Register" />
        <activity android:name=".OnLog" />
        <activity android:name=".Marks" />
        <activity android:name=".Option" />
        <activity android:name=".FinalC" />
        <activity android:name=".PracPython" />
        <activity android:name=".PracAndroid" />
        <activity android:name=".PracSQL" />
        <activity android:name=".PracJava" />
        <activity android:name=".FinalCpp" />
        <activity android:name=".FinalPython" />
        <activity android:name=".FinalAndroid" />
        <activity android:name=".FinalSQL" />
        <activity android:name=".FinalJava" />

    </application>

</manifest>